<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67889795666-af8u9tlm5gcgrl7sua08c5v29iuu4ffe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67889795666-af8u9tlm5gcgrl7sua08c5v29iuu4ffe</string>
	<key>API_KEY</key>
	<string>AIzaSyAX2BsaIKscBi0Vp6r2b7N5grKlu_KZ7DQ</string>
	<key>GCM_SENDER_ID</key>
	<string>67889795666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pp.massive-emart</string>
	<key>PROJECT_ID</key>
	<string>massiveemart</string>
	<key>STORAGE_BUCKET</key>
	<string>massiveemart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67889795666:ios:3985ee8c3711d69254c58b</string>
</dict>
</plist>